!/src/main/
!/src/test/

### Gradle ###
.gradle/
build/
out/

### IntelliJ IDEA ###
.idea/
*.iws
*.ipr
*.iml

### OS ###
.DS_Store
Thumbs.db

### Logs ###
*.log

### Java ###
*.class
*.war
*.ear
*.jar
!gradle/wrapper/gradle-wrapper.jar

### Temp ###
*.swp
*~